.c-dropdown-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10rem;
  background-color: #fafbfc;
  border: 0.1rem solid rgba(27, 31, 35, 0.15);
  border-radius: 0.2rem;
  color: #24292e;
  cursor: pointer;

  padding: 0.6rem 1.6rem;
  line-height: 2rem;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  & :hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  > .caret-icon {
    margin-left: 0.8rem;
    height: 0.8rem;
    width: 0.8rem;
  }
}
